<h1>USER NAME : {{chaterList.currentUser.name}}</h1>
<div class="message-box">
  <ul class="list-group">
    <li *ngFor="let m of chaterList.currentConversation.getConversation()" class="list-group-item" [ngClass]="{'right':checkMessage(m),'left':!checkMessage(m)}">
      <div>
          <span class="">{{m.message}}</span>
      </div>
    </li>
  </ul>
</div>
<form [formGroup]="messageFormGroup" (ngSubmit)="onSubmit(messageFormGroup.value)">
  <textarea class="form-control" rows="2" formControlName="message" [(ngModel)]="typemsg"></textarea>
  <button type="button" class="btn btn-default" type="submit">Default</button>
</form>