<div class="col-md-6 col-md-push-3" style="margin-top: 10%;" *ngIf="showForm; else chat">
    <form class="col-md-8 col-md-push-2" [formGroup]="myGroup" (ngSubmit)="onSubmit(myGroup.value)">
      <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="UserName" formControlName="name" [(ngModel)]="Username">
        <small id="emailHelp" class="form-text text-muted">Your username for chat.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  <ng-template #chat>
    <div class="col-md-8 col-md-push-2">
        <div class="col-md-6">
            <app-chat-users (getSocket)="socketGet($event)" [chaterList]="chaterList"></app-chat-users>
        </div>
        
        <div class="col-md-6">
            <app-chat-messages [chaterList]="chaterList" [socket]="socket"></app-chat-messages>
        </div>
    </div>
    
</ng-template>